@import url("https://fonts.googleapis.com/css2?family=OpenSans:ital,wght@0,200;0,400;0,700;1,200;1,300;1,500&family=Open+Sans:wght@300&display=swap");

@font-face {
  font-display: swap;
  font-family: "Gilroy-bold";
  src: url(https://19578049.fs1.hubspotusercontent-na1.net/hubfs/19578049/Web%20Fonts/Gilroy-Bold.ttf)
    format("woff");
}
